.list-unstyled {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

hr {
    border: 2px dotted #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
}

hr.padded {
    margin-top: 30px;
    margin-bottom: 30px;
}

.indented {
    margin-top: 20px;
    margin-bottom: 24px;
}

.muted {
    color: #8d8d8d;
}

h3.small {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p, blockquote {
    margin-bottom: 1ex;
    margin-top: 1ex;
}

ul, ol {
    margin-bottom: 2ex;
    margin-top: 2ex;
}

a {
    color: #005493;
}

/* Tables */

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.full-width {
    margin-top: 30px;
    margin-bottom: 30px;
    background: gray;
    color: white;
}

td, th {
    border: 1px solid silver;
    padding: 1ex;
    text-align: left;
}

/* Testimonials */

.testimonial {
    margin-bottom: 2ex;
    font-style: italic;
}

.testimonial .source {
    font-style: normal;
}

.testimonial .source:before {
    content: "– ";
}
