/* Heading */

.masthead {
    background-image: url(/img/hero.jpg);
    background-size: cover;
    box-shadow: 0 0 3px gray;
}

.masthead .container {
    position: relative;
    height: 425px;
}

.type {
    position: absolute;
    color: white;
    top: 169px;
    left: 420px;
}

h1 {
    color: white;
}

p.subtitle {
    width: 500px;
}

.ball {
    width: 520px;
    height: 520px;
    position: absolute;
    left: 340px;
    top: -360px;
    background-image: url(/img/balon.png);
    background-size: cover;
}

/* Content */

.tagline:not(:last-child) {
    margin-bottom: 3ex;
}

.blog-roll {
    padding-top: 10px;
}

.partneri img {
    width: 50%;
    box-shadow: 2px 2px 4px gray;
    margin-bottom: 15px;
}
