/* Heading */

.masthead {
    margin-bottom: 20px;
    background-image: url(/img/hero.jpg);
    background-size: cover;
}

.masthead .container {
    position: relative;
    height: 425px;
}

.type {
    position: absolute;
    color: white;
    top: 169px;
    left: 420px;
}

h1 {
    color: white;
}

p.subtitle {
    width: 500px;
}

.ball {
    width: 520px;
    height: 520px;
    position: absolute;
    left: 340px;
    top: -360px;
    background-image: url(/img/balon.png);
    background-size: cover;
}

/* Blog */

.blog-roll {
    padding-top: 10px;
}
