.container {
    width: 1000px;
    margin: auto;
}

/* http://stackoverflow.com/questions/8554043/what-is-clearfix */
.container:after, .float-container:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.col {
    position: relative;
    box-sizing: border-box;
    float: left;
}

.col-main {
    width: 580px;
}

.col-side {
    width: 380px;
}

.col-half {
    width: 50%;
}

.pull {
    position: absolute;
    width: 380px;
    left: 620px;
}

.sidebar-left .pull {
    width: 380px;
    left: -420px;
}

.sidebar-left .col-side { float: left; }
.sidebar-left .col-main { float: right; }

.sidebar-right .col-side { float: right; }
.sidebar-right .col-main { float: left; }

/* Content */

.full-width { width: 1000px; }
.sidebar-left .col .full-width { margin-left: -420px; }

.fit-width {
    width: 100%;
}

iframe {
    /* this makes the 16:9 videos fit without borders into the 570px wide column */
    min-height: 327px;
    width: 100%;
    border: none;
    margin-top: 20px;
    margin-bottom: 24px;
}

iframe.legacy-ratio {
    min-height: 318px;
}
