body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.print-only {
    display: none;
}

div.jumbotron {
    width: 920px;
    height: 260px;
    padding-top: 35px;
    padding-left: 20px;
    text-shadow: black 1px 1px 2px;
    background: url(/img/hero/1.jpg);
    color: white;
}

div.jumbotron h1 {
    background: orange;
    display: inline-block;
    padding: 5px;
    padding-bottom: 8px;
    padding-right: 8px;
}

.footer {
    margin-top: 20px;
    border-top: 4px solid #dddddd;
    padding-top: 20px;
}

/* Pravidla */

table.pavouk td {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

table.pavouk td:last-child {
    text-align: center;
}

/* Rozpis */

tr.predel {
    background: rgb(240, 240, 240);
}

div.tabbable {
    padding-top: 10px;
}

/* Vysledky */

table.vysledky {
    table-layout: fixed;
}

.vysledky .dud {
    background: #eeeeee;
}

.vysledky-zaklad td:nth-child(7),
.vysledky-zaklad th:nth-child(7),
.vysledky-postup td:nth-child(5),
.vysledky-postup th:nth-child(5),
.vysledky-baraz  td:nth-child(9),
.vysledky-baraz  th:nth-child(9) {
    border-right: 3px solid #dddddd;
}

.vysledky td {
    position: relative;
    vertical-align: middle;
    text-align: center;
    height: 60px;
}

.vysledky-zaklad td,
.vysledky-zaklad th {
    height: 70px;
}

.vysledky-postup td,
.vysledky-postup th {
    height: 90px;
}

.match-no-long {
    color: gray;
    position: relative;
    font-size: 80%;
    top: -0.5em;
}

.match-no {
    position: absolute;
    font-size: 80%;
    color: gray;
    left: 2px;
    top: 0px;
}

/* Partneri */

.partner img {
    border: 1px solid #dddddd;
    width: 300px;
    height: 150px;
}

.partner p {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
