@import url('shared.css');

body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.print-only {
    display: none;
}

div.jumbotron {
    width: 920px;
    height: 260px;
    padding-top: 35px;
    padding-left: 20px;
    text-shadow: black 1px 1px 2px;
    background: url(/img/hero/1.jpg);
    color: white;
}

div.jumbotron h1 {
    background: orange;
    display: inline-block;
    padding: 5px;
    padding-bottom: 8px;
    padding-right: 8px;
}

.footer {
    margin-top: 20px;
    border-top: 4px solid #dddddd;
    padding-top: 20px;
}

iframe {
    border: none;
    border-top: 1px solid #eeeeee;
}

/* Pravidla */

table.pavouk td {
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
}

table.pavouk td:last-child {
    text-align: center;
}

/* Rozpis */

tr.predel {
    background: rgb(240, 240, 240);
}

div.tabbable {
    padding-top: 10px;
}

/* Vysledky */

.vysledky td {
    position: relative;
    vertical-align: middle;
    text-align: center;
    height: 60px;
}

.vysledky-zaklad td,
.vysledky-zaklad th {
    height: 70px;
}

.vysledky-postup td,
.vysledky-postup th {
    height: 90px;
}

/* Partneri */

.partner img {
    border: 1px solid #dddddd;
    width: 300px;
    height: 150px;
}

.partner p {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
