@import url('shared.css');

.no-print, .footer, .navbar, .nav-tabs {
    display: none;
}

hr.page-break {
    visibility: hidden;
    page-break-after: always;
}

/* Tabulky */

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    padding: 2mm;
}

/* Rozpis */

th.long {
    min-width: 7cm;
}

tr.predel td {
    background: #eeeeee;
}

/* Vysledky */

table.vysledky {
    font-size: 50%;
}

.vysledky td {
    width: 1.5cm;
    height: 1.5cm;
}
