@import url(reset.css);
@import url(layout.css);
@import url(content.css);

body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.3em;
    background: #fff0dc;
    color: #5e5e5e;
    min-width: 1024px;
}

h1, h2, h3 {
    font-weight: 100;
    font-size: 64px;
    line-height: 1.2em;
    text-transform: lowercase;
    color: #941751;
}

/* Navigation Bar */

.nav-bar {
    width: 100%;
    height: 65px;
    background: url(/img/trava.jpg);
    background-size: cover;
}

.nav-bar ul {
    margin: 0;
}

.nav-bar li {
    display: inline-block;
    position: relative;
    line-height: 65px;
    text-transform: lowercase;
    font-size: 36px;
    font-weight: 100;
    margin-left: -10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
}

.nav-bar, .nav-bar.first-level li.current {
    box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.15);
}

.nav-bar li.current:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 45%;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #009192;
	font-size: 0;
	line-height: 0;
}

.nav-bar.first-level li.current { background: orange; }
.nav-bar.second-level { background: #009192; }
.nav-bar:not(.multi) li.current:after { border-bottom-color: #fff0dc; }
.nav-bar.second-level li.current:after { border-bottom-color: #fff0dc; }

.nav-bar a {
    color: white;
}

.content {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Blog Roll */

.blog-post-preview:not(:first-child) .perex {
    display: none;
}

.blog-post-preview:first-child {
    margin-bottom: 20px;
}

/* Footer */

.footer {
    background: #941751;
    color: #fff0dc;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 40px;
    box-shadow: 0 0 3px gray;
}

.footer h2 {
    display: none;
}

.footer h3, .footer a {
    color: #fff0dc;
}
