/* Baseline */

body, h1, h2, h3, p, ul {
    padding: 0; margin: 0;
}

body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 200;
    font-size: 18px;
    line-height: 1.3em;
    background: #fff0dc;
    color: #5e5e5e;
    min-width: 1024px;
}

h1, h2, h3 {
    font-weight: 100;
    font-size: 64px;
    line-height: 1.2em;
    text-transform: lowercase;
    color: #941751;
}

/* Layout */

.container {
    width: 1024px;
    margin: auto;
}

.col {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.col-left {
    padding-right: 20px;
}

.col-right {
    padding-left: 20px;
}

.col-main {
    width: 590px;
}

.col-side {
    width: 434px;
}

/* Navigation Header */

.nav-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: url(/img/trava.jpg);
    background-size: cover;
}

.nav-header li {
    display: inline-block;
    line-height: 55px;
    text-transform: lowercase;
    color: white;
    font-size: 36px;
    font-weight: 100;
    margin-right: 20px;
}

.nav-header a {
    color: white;
}

.indented-content {
    margin-top: 90px;
}

/* Blog Roll */

.blog-post-preview:not(:first-child) .perex {
    display: none;
}

.blog-post-preview:first-child {
    margin-bottom: 20px;
}

/* Footer */

.footer {
    background: #941751;
    color: #fff0dc;
    padding-top: 50px;
    padding-bottom: 40px;
    margin-top: 40px;
}

.footer h2 {
    display: none;
}

.footer h3, .footer a {
    color: #fff0dc;
}

/* Content */

.list-unstyled {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

hr {
    border: 2px dotted #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-responsive {
    width: 100%;
}

.muted {
    color: #8d8d8d;
}

h3.small {
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 10px;
}

p {
    margin-bottom: 1ex;
}

a {
    color: #005493;
    text-decoration: none;
}

