---
layout: homepage
---
<div class="masthead">
    <div class="container">
        <div class="ball"></div>
        <div class="type">
            <h1>Žijeme hrou</h1>
            <p class="subtitle">Chceme hodnotnější pojetí sportu, ve kterém se na první
            místo vrací prožitek sportovce, zábava a osobní rozvoj. Chceme sport, který
            přispívá ke zdravější společnosti.</p>
        </div>
    </div>
</div>

<div class="content">
    <div class="container projects">
        <div class="col col-main">
            <h2 class="pull">Projekty</h2>
            <h3><a href="/souteze/">Soutěže</a></h3>
            <p class="tagline">Sportovní soutěže jako ideální příležitost k
            osobnímu prožitku a rozvoji; sport jako společenská aktivita.</p>
            <h3><a href="/akademie/">Fotbalová akademie</a></h3>
            <p class="tagline">Moderní fotbalový program pro fotbalisty všech
            výkonnostních i věkových skupin, pro fotbalové kluby a rodiče
            malých fotbalistů.</p>
            <h3><a href="/koucovani/">Koučování</a></h3>
            <p class="tagline">Osobní služby v oblasti koučování, mentorování,
            lektorování a sportovního tréninku.</p>
        </div>
    </div>
    <hr>
    <div class="container blog">
        <div class="col col-main">
            <h2 class="pull">Blog</h2>
            {% include blog-roll.html %}
        </div>
    </div>
    <hr>
    <div class="container partneri">
        <div class="col col-main">
            <h2 class="pull">Partneři</h2>
            <div>
                <a href="http://www.novatisk.cz"><img src="/img/novatisk.png" alt="Novatisk"></a>
                <a href="http://www.pivovarcernahora.cz"><img src="/img/ch.png" alt="Pivovar Černá Hora"></a>
                <a href="http://hotelpodzamkem.com"><img src="/img/podzamkem.png" alt="Hotel a restaurace Pod zámkem"></a>
                <a href="http://www.coerver.cz"><img src="/img/coerver.png" alt="Coerver Coaching"></a>
                <a href="http://www.fstrebic.cz"><img src="/img/fstrebic.png" alt="Fotbalová škola Třebíč"></a>
                <a href="http://www.corfix.cz"><img src="/img/corfix.png" alt="Corfix"></a>
                <a href="http://www.fotbal.cz"><img src="/img/facr.png" alt="Fotbalová asociace České republiky"></a>
                <a href="http://www.finish-pce.cz/"><img src="/img/finish.png" alt="Finish Dašice"></a>
                <a href="http://www.gymbos.cz"><img src="/img/gymbos.png" alt="Gymnázium Boskovice"></a>
                <a href="http://www.lanik.cz"><img src="/img/lanik.png" alt="Lanik"></a>
                <a href="http://www.sabe.cz"><img src="/img/sabe.png" alt="Sabe"></a>
                <a href="http://www.corfix.cz/cz/837-produkty-alba-a-samolepky-panini.html"><img src="/img/panini.png" alt="Panini"></a>
                <a href="http://www.sportpetru.cz/"><img src="/img/petru.png" alt="Sport Petrů Boskovice"></a>
                <a href="http://www.sluzbyboskovice.cz"><img src="/img/sb.png" alt="Služby Boskovice"></a>
                <a href="http://www.vodarenska.cz/divize-boskovice"><img src="/img/vas.png" alt="Vodárenská akciová společnost"></a>
                <a href="http://www.boskovicko.cz"><img src="/img/boskovicko.png" alt="Boskovicko, regionální noviny"></a>
                <a href="http://nv.fotbal.cz/domaci-souteze/kao/jihomoravsky/blansko/index.php"><img src="/img/ofs.png" alt="OFS Blansko"></a>
                <a href="http://www.hrg.cz/"><img src="/img/hrg.png" alt="Tiskárna HRG"></a>
                <a href="http://www.7nebe.cz/"><img src="/img/7nebe.png" alt="Klub 7. nebe"></a>
                <a href="http://www.hyundai.cz"><img src="/img/hyundai.png" alt="Hyundai"></a>
                <a href="http://www.tgatrade.com/"><img src="/img/tga.png" alt="TGA Trade"></a>
                <a href="http://www.mw.cz/"><img src="/img/mw.png" alt="Martin Wetter"></a>
                <a href="http://www.vinofol.cz/"><img src="/img/vinofol.png" alt="Vinařství Vinofol"></a>
                <a href="http://fcboskovice.cz/"><img src="/img/fcboskovice.png" alt="FC Boskovice"></a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
