---
layout: homepage
---
<div class="masthead">
    <div class="container">
        <div class="ball"></div>
        <div class="type">
            <h1>Žijeme hrou</h1>
            <p class="subtitle">Chceme hodnotnější pojetí sportu, ve kterém se na první
            místo vrací prožitek sportovce, zábava a osobní rozvoj. Chceme sport, který
            přispívá ke zdravější společnosti.</p>
        </div>
    </div>
</div>

<div class="content">
    <div class="container projects">
        <div class="col col-main">
            <h2 class="pull">Projekty</h2>
            <h3><a href="/souteze/">Soutěže</a></h3>
            <p class="tagline">Sportovní soutěže jako ideální příležitost k
            osobnímu prožitku a rozvoji; sport jako společenská aktivita.</p>
            <h3><a href="/akademie/">Fotbalová akademie</a></h3>
            <p class="tagline">Moderní fotbalový program pro fotbalisty všech
            výkonnostních i věkových skupin, pro fotbalové kluby a rodiče
            malých fotbalistů.</p>
            <h3><a href="/koucovani/">Koučování</a></h3>
            <p class="tagline">Osobní služby v oblasti koučování, mentorování,
            lektorování a sportovního tréninku.</p>
        </div>
    </div>
    <hr>
    <div class="container blog">
        <div class="col col-main">
            <h2 class="pull">Blog</h2>
            {% include blog-roll.html %}
        </div>
    </div>
    <hr>
    <div class="container partneri">
        <div class="col col-main">
            <h2 class="pull">Partneři</h2>
            <div>
                <a href="http://www.novatisk.cz"><img src="/img/novatisk.png" alt="Novatisk"></a>
                <a href="http://www.pivovarcernahora.cz"><img src="/img/ch.png" alt="Pivovar Černá Hora"></a>
                <a href="http://hotelpodzamkem.com"><img src="/img/podzamkem.png" alt="Hotel a restaurace Pod zámkem"></a>
                <a href="http://www.coerver.cz"><img src="/img/coerver.png" alt="Coerver Coaching"></a>
                <a href="http://www.fstrebic.cz"><img src="/img/fstrebic.png" alt="Fotbalová škola Třebíč"></a>
            </div>
        </div>
    </div>
</div>

{% include footer.html %}
