@import url(/style/shared.css);

.blog-posts {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.blog-posts h3 {
    text-transform: uppercase;
    font-size: 100%;
    margin-bottom: 4px;
}

.blog-posts .meta {
    color: gray;
}
