@import url(/fonts/stylesheet.css);
@import url(http://fonts.googleapis.com/css?family=Alegreya:400italic,400&subset=latin,latin-ext);

body {
    font-family: Alegreya, serif;
    font-size: 19px;
    line-height: 1.4em;
}

.container {
    max-width: 960px;
}

header {
    background: #fff0dc;
    text-align: center;
}

h1, h2 {
    font-family: Anivers, serif;
}

h1 {
    font-size: 300%;
    text-transform: uppercase;
    padding: 30px;
    color: #941751;
    line-height: 1em;
}

h1 small {
    text-transform: lowercase;
}

/* Main Menu */

nav {
    background: #fff0dc;
    font-family: Anivers, serif;
    box-shadow: 0px 2px 1px #ddd;
    margin-bottom: 40px;
}

.menu {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 30ex;
    font-size: 200%;
    text-transform: uppercase;
}

.menu li {
    display: inline-block;
    padding: 5px;
    padding-bottom: 9px;
}

.menu li:not(:last-child) {
    margin-right: 3ex;
}

.menu li.current {
    border-bottom: 4px solid #005493;
    margin-bottom: -4px;
}

.menu a:hover {
    text-decoration: none;
}

/* Footer */

footer {
    background: #fff0dc;
    padding-top: 20px;
    padding-bottom: 40px;
    box-shadow: 0px -2px 1px #ddd;
    margin-top: 40px;
}

/* Content */

main {
    min-height: 500px;
}

a {
    color: #005493;
}
