---
---
<!DOCTYPE html>
<html lang="cs">
    <head>
        {% include html-meta.html %}
        <title>Koučování | Žijeme hrou </title>
        <link rel="stylesheet" href="/css/shared.css">
    </head>
    <body class="sidebar-left">
        {% include nav-bar.html source='navigation' category='koucovani' class='first-level' %}
        <div class="content">
            <div class="container">
                <div class="col col-main">
                    <h2 class="pull">Koučování?</h2>
                    <p>Koučování je metoda vzdělávání, pro kterou je
                    charakteristický respekt trenéra neboli kouče ke schopnostem
                    jeho svěřence. Kouč není diktátor, který ukazuje jedinou
                    správnou cestu; kouč respektuje individuální znalosti a
                    schopnosti svých svěřenců a pomáhá jim najít jejich vlastní
                    cestu směrem, který si vybrali.</p>
                    <p>Projekt Žijeme hrou z koučování do velké míry vychází, a
                    proto v rámci něj nabízíme i své osobní služby v oblasti
                    koučování, mentorování, lektorování a sportovního tréninku.</p>
                </div>
            </div>
            <hr class="padded">
            <div class="container">
                <div class="col col-main">
                    <div class="pull">
                        <h2>Jirka Vorlický</h2>
                        <ul class="list-unstyled">
                            <li><a href="mailto:jirka@zijemehrou.cz">jirka@zijemehrou.cz</a>
                            <li>723 616 843
                        </ul>
                    </div>
                    <p>Specializuji se na oblast sportu, tedy individuální i
                    skupinovou hru a rozvoj trenérů i hráčů, zejména fotbalových,
                    ale nabízím i spolupráci v dalších oblastech, například osobním
                    životě nebo vztazích – v rodině, mezi přáteli, v práci,
                    kdekoliv. Bez omezení na věk, výkonnostní kategorie nebo
                    společenské postavení.</p>
                    <p>Nabízím respekt k individualitě každého člověka, zdůrazňuji
                    osobní přístup a prožitek. Využívám potenciál jednotlivce i
                    skupiny a znalost společenského prostředí z různých pozic,
                    včetně hodnot získaných ze zvířecího světa, například ze
                    spolupráce s koňmi nebo psy.</p>

                    <h3 class="pull muted">Reference</h3>
                    <div class="testimonial">
                        <p>Potkat Jirku Vorlického a dát se s ním do řeči se
                        vyplatí. Poslouchat ho a rozumět mu vyžaduje vlastní
                        přemýšlení – nad tím, co a jak říká a dělá on, i nad tím, o
                        čem a jak přemýšlíte a co děláte vy. Případný společný
                        soulad myšlenek a činů je vykoupen oboustranným úsilím,
                        dává smysl a pohání k nové činnosti. Nemusí vás ale mrzet,
                        nedojde-li k němu. I tak jste obohaceni o jiný úhel
                        pohledu, o pověstného brouka v hlavě.</p>
                        <p class="source">Luděk Procházka, trenér a pedagog</p>
                    </div>
                    <div class="testimonial">
                        <p>S Jirkou Vorlickým jsme na sebe poprvé narazili
                        přibližně v roce 2008, kdy vedl žáky Boskovic proti mnou
                        vedeným žákům Svratky. V té době jsem šel pouze za
                        vítězstvím a do hry týmu zasahoval přespříliš. Po vzájemném
                        poznání mě nenásilnou formou navedl ke sledování jiných
                        hodnot než jsou vítězství, body a tabulky.</p>
                        <p class="source">Vladimír Bodeček, student MU, trenér
                        Zbrojovky Brno U7 a výběrů MĚfS 2003</p>
                    </div>
                    <div class="testimonial">
                        <p>Během posledního roku jsem poznal a pořád poznávám
                        inteligentního pozitivního člověka, který ví naprosto
                        přesně, co dělá, jak to dělá, proč to dělá a co bude
                        dále dělat. Odborník na svém místě, nejen v oblasti
                        sportu, ale i v mezilidských vztazích či pracovním
                        životě. Má obrovský dar, umí totiž naslouchat druhým a
                        nabíjí lidi kolem sebe!</p>
                        <p class="source">Radek Talafa, pedagog</p>
                    </div>
                    <div class="testimonial">
                        <p>Setkání a následná spolupráce s J.V.  pozitivně
                        obrátila vzhůru nohama můj dřívější pohled a to nejen
                        na trénování, ale i na jednání s lidmi a dokonce (a to
                        bych chtěl zdůraznit) na výchovu mých dětí.</p>
                        <p class="source">Pavel Šustr, Vedoucí trenér SpSM, FC
                        Zbrojovka Brno</p>
                    </div>
                    <div class="testimonial">
                        <p>Svou vysokou odbornost předává dětem empatickým
                        způsobem. Tréninkový proces respektuje individuální
                        schopnosti daného dítěte. Velmi si Jirky Vorlického
                        vážím i jako člověka – čestný, odvážný a vždy
                        ochotný.</p>
                        <p class="source">Jiří Hrubý, rodič</p>
                    </div>
                </div>
            </div>
            <hr class="padded">
            <div class="container">
                <div class="col col-main">
                    <div class="pull">
                        <h2>Martin Daněk</h2>
                        <ul class="list-unstyled">
                            <li><a href="mailto:martin@talentkouc.cz">martin@talentkouc.cz</a>
                            <li>724 830 169
                        </ul>
                    </div>
                    <p>Ke koučování mě přivedl zájem být co nejužitečnějším
                    trenérem sportovců a také chuť prozkoumat jinou cestu než
                    tu nalajnovanou, tedy budování právnické kariéry. Dnes se
                    zabývám co nejhlubším studiem principů koučování a více či
                    méně příbuzných oborů (NLP, neurovědy, kvantová fyzika,
                    bioresonanční medicína, …) proto, abych mohl být co
                    nejužitečnějším koučem všem svým partnerům (nepoužívám
                    slovo klient). Mezi moje partnery patří nejčastěji lidé z
                    řad sportovců, podnikatelů, manažerů, studentů a děti.</p>

                    <h3 class="pull muted">Koučovací vzdělání</h3>
                    <ul>
                        <li>The Art and Science of Coaching<br>
                            <small>Erickson College, Vancouver a Koučink Centrum, Praha</small>
                        <li>Akreditovaný externí profesionální kouč<br>
                            <small>Koučink Centrum</small>
                        <li>NLP Practicioner<br>
                            <small>Erickson College a Koučink Centrum</small>
                        <li>Inner Game Essentials<br>
                            <small>Tim Gallwey</small>
                        <li>Inner Game of Team Leadership<br>
                            <small>IGEOS, USA – Valerio Pascotto a Koučink Centrum, Praha</small>
                        <li>Týmový Koučink<br>
                            <small>Koučink Centrum</small>
                        <li>Inner Game ve sportu<br>
                            <small>Inner Focus Sport Academy, Koučink Centrum</small>
                    </ul>

                    <p><em>Specializace:</em> Uvolňování potenciálu srdce,
                    mysli a těla. Umění být opravdu sám sebou. Odstraňování
                    bariér výkonu, učení se, radosti z činnosti. Rozvoj
                    dovedností na špičkovou úroveň. Propojení koučovacích
                    přístupů a škol. <em>Motto:</em> Poznat sám sebe, vyjádřit
                    sám sebe. Všechno ostatní je druhotné.</p>
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include deferred-javascript.html %}
    </body>
</html>
