<div class="footer">
    <h2>O nás</h2>
    <div class="container">
        <div class="col col-side">
            <h3 class="small">Partneři</h3>
            <ul class="list-unstyled">
                <li><a href="http://www.coerver.cz/">Coerver Coaching</a></li>
                <li><a href="http://www.fstrebic.cz/">Fotbalová škola Třebíč</a></li>
                <li><a href="http://koucinkcentrum.cz/">Koučink Centrum</a></li>
                <li><a href="http://www.talentkouc.cz">Talent kouč</a></li>
            </ul>
        </div>
        <div class="col col-main">
            <h3 class="small">Web</h3>
            <p>naposledy aktualizováno v lednu<br>
            <a href="mailto:jirka@zijemehrou.cz">jirka@zijemehrou.cz</a></p>
        </div>
    </div>
</div>
