<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Žijeme hrou</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
            {% for node in site.navigation %}
                {% assign nice_url = node.url | replace:'index.html', '' %}
                {% if page.url == node.url or include.category == node.category %}
                    <li class="active"><a href="{{nice_url}}">{{node.title}}</a></li>
                {% else %}
                    <li><a href="{{nice_url}}">{{node.title}}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>
