---
---
<!DOCTYPE html>
<html lang="cs">
    <head>
        {% include html-meta.html %}
        <title>Fotbalová akademie | Žijeme hrou </title>
        <link rel="stylesheet" href="/css/shared.css">
    </head>
    <body class="sidebar-left">
        {% include nav-bar.html source='navigation' category='akademie' class='first-level' %}
        <div class="container content">
            <div class="col col-main">
                <h2 class="pull">Fotbalová akademie</h2>
                <p>Fotbalová akademie Žijeme hrou je moderní fotbalový program
                pro fotbalisty všech výkonnostních i věkových skupin, pro fotbalové
                kluby a rodiče malých fotbalistů. Nabízíme fotbal,
                který místo okamžitým výsledkům, rychlému finančnímu efektu a
                prosazování vlastního ega dává přednost přirozenému,
                svobodnému, efektivnímu a zdravému rozvoji hráče. Naším cílem
                není „jen“ špičkový fotbalista, ale také charakterní člověk
                zodpovědný za vlastní rozvoj a život.</p>
                <p>Fotbalová akademie je konkrétním výsledkem našich
                dlouhodobých úvah nad tím, jak by měl vypadat fotbalový klub
                budoucnosti. Na jakých principech by měl být založený? Jaké
                hráče by měl vychovávat? Jak by měl spolupracovat s rodiči? Jak
                by měl vypadat fotbalový trenér budoucnosti? Odpovědi na tyto
                otázky testujeme v praxi a ověřujeme nejnovějšími poznatky o
                výkonnosti, rozvoji talentu, o fungování lidského mozku,
                koučování, medicíně dalších oborech, které mají co přinést.</p>

                <h2 class="pull">Co nabízíme</h2>
                <p><em>Hráčům a rodičům</em> nabízíme partnerství v dlouhodobém rozvoji
                individuálního herního výkonu – například individuální, skupinové i hromadné
                tréninky a <a href="/blog/2014/01/letni-fotbalove-kempy.html">letní fotbalové
                kempy</a>.</p>

                <p><em>Klubům a trenérům</em> nabízíme především kurzy programu
                He-Art, na kterých teoreticky i prakticky vysvětlujeme a
                vyučujeme naše hodnoty a postupy. Kurzy jsou určené pro 10–18
                účastníků, cena jednoho kurzu je 1590 Kč na osobu. Na místě,
                termínu a konkrétním harmonogramu se můžeme domluvit, jakmile
                se sejde aspoň minimální počet deseti zájemců. Samozřejmě můžeme
                kurz udělat i přímo u vás, termíny dohodou. Přibližnou představu
                o kurzu si můžete udělat z následujícího videa natočeného na <a
                href="/blog/2013/12/ohlednuti-za-seminarem-heart.html">úvodním semináři
                programu He-Art</a>:</p>

                <iframe src="http://player.vimeo.com/video/80990031?title=0&amp;byline=0&amp;portrait=0"> </iframe>

                <p>Pokud máte o kurz zájem, ozvěte se na adresu <a
                href="mailto:jirka@zijemehrou.cz"> jirka@zijemehrou.cz</a>.</p>
            </div>
        </div>
        {% include footer.html %}
        {% include deferred-javascript.html %}
    </body>
</html>
