<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=1200">
        <title>{{ page.title }} | Žijeme hrou </title>
        <link rel="stylesheet" href="/css/shared.css">
        <link rel="stylesheet" href="/css/blog.css">
    </head>
    <body class="sidebar-right">
        {% include nav-bar.html source='navigation' category='blog' class='first-level' %}
        <div class="container content">
            <div class="col col-main">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
            <div class="col col-side">
                <h2 class="muted">Další články</h2>
                {% include blog-roll.html %}
            </div>
        </div>
        {% include footer.html %}
        {% include deferred-javascript.html %}
    </body>
</html>
