<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | Žijeme hrou </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/style/blog.css" rel="stylesheet" media="screen">
        <link href="/style/video.css" rel="stylesheet" media="screen">
    </head>
    <body>
        {% include navigace.html category="blog" %}
        <div class="huge-header">
            <div class="container">
                <h1 class="inverse">Blog</h1>
                <p>Metodika pro smysluplný sport, informace o našich soutěžích a seminářích.</p>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <div class="page-header">
                        <h2>{{ page.title }} <small>{{ page.date | date: "%-d. %m. %Y" }}</small></h2>
                    </div>
                    {{ content }}
                </div>
                <div class="col-xs-4">
                    <div class="page-header">
                        <h2><small>Další příspěvky</small></h2>
                    </div>
                    <ul class="blog-posts">
                    {% for post in site.posts %}
                        {% if post.url != page.url %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% include footer.html %}
        </div>
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/code/ga.js"></script>
    </body>
</html>
