<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | Žijeme hrou </title>
        <link rel="stylesheet" href="/css/shared.css">
        <link rel="stylesheet" href="/css/competitions.css">
    </head>
    <body class="sidebar-right">
        {% include nav-header.html category='souteze' %}
        <div class="content">
            <div class="container indented-content">
                <div class="col col-main">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include deferred-javascript.html %}
    </body>
</html>
