<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | Žijeme hrou </title>
        <link rel="stylesheet" href="/css/shared.css">
        <link rel="stylesheet" href="/css/competitions.css">
    </head>
    <body class="sidebar-right">
        {% include nav-bar.html source='navigation' category='souteze' class='first-level multi' %}
        {% include nav-bar.html category='none' source='boskovice' class='second-level' %}
        <div class="content">
            <div class="container">
                <div class="col col-main">
                    {{ content }}
                </div>
            </div>
        </div>
        {% include footer.html %}
        {% include deferred-javascript.html %}
    </body>
</html>
