<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} | Boskovice dětem a rodinám</title>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/css/main.css" rel="stylesheet" media="screen">
        <link href="/css/print.css" rel="stylesheet" media="print">
        <script src="/code/ga.js"></script>
    </head>
    <body>
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                    {% for node in site.pages %}
                    {% if page.url == node.url %}
                        <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
                    {% else %}
                        <li><a href="{{node.url}}">{{node.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="content container">
            <div class="jumbotron no-print">
                <h1>Boskovice dětem a rodinám</h1>
                <p class="lead">3. mezinárodní fotbalový turnaj pro děti do jedenácti let<br>
                15.–16. června 2013</p>
            </div>
            <hr class="no-print">
            {{ content }}
            <div class="footer row-fluid">
                <div class="span4">
                    <p class="muted">Pořadatel</p>
                    <p><a href="http://fcboskovice.cz">FC Boskovice</a></p>
                </div>
                <div class="span4">
                    <p class="muted">Spolupracovníci</p>
                    <p>
                        <a href="http://www.fczbrno.cz">FC Zbrojovka Brno</a><br>
                        <a href="http://www.fczbrno2002.cz">Přípravka FC Zbrojovky Brno</a><br>
                        Vladimír Chaloupka<br>
                        Jiří Vorlický
                    </p>
                </div>
                <div class="span4">
                    <p class="muted">Tiráž</p>
                    <p>31. května 2013<br>
                    <a href="http://zmotula.cz">zmotula.cz</a></p>
                </p>
            </div>
        </div>
    </body>
</html>
