<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">
        <title>Žijeme hrou | Za smysluplnější sport</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/style/titulka.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="splash">
            <div class="intro">
                <h1 class="inverse">Žijeme hrou</h1>
                <p>Chceme hodnotnější pojetí sportu, ve kterém se na
                první místo vrací prožitek sportovce, zábava a osobní
                rozvoj. Chceme sport, který přispívá ke zdravější
                společnosti.</p>
            </div>
        </div>
        <div class="container">
            {{ content }}
            {% include footer.html %}
        </div>
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
